.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.feature__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.feature__content {
  flex-basis: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    flex-basis: 100%;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.feature__border {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  background-color: var(--bg-alt-color);
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    flex-basis: 100%;
  }
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (min-width: 480px) {
    flex-basis: 100%;
  }
}
