.footer__page {
  background-color: var(--bg-secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  display: flex;
  text-align: center;

  @media screen and (min-width: 480px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
}

.footer__box {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__item {
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 60px;

  @media screen and (min-width: 480px) {
    margin-left: 0px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0px;
    margin-bottom: 0px;
  }
}

.contacts,
.join {
  width: 270px;

  @media screen and (min-width: 480px) {
    margin-right: 0px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.mailing {
  width: 100%;
}

.footer__logo {
  display: inline;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
}
.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-main-color);
}

.join__social-icons {
  display: inline-flex;
}

.join__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.join__svg {
  width: 20px;
  height: 20px;
  fill: var(--bg-main-color);
}

.mailing {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.mailing__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-main-color);
}
.mailing__form {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.mailing__input {
  display: inline-block;
  justify-content: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  height: 50px;
  margin-bottom: 20px;
  padding: 16px;

  @media screen and (min-width: 480px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}

.mailing__btn {
  position: relative;
  display: inline-block;

  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--bg-main-color);

  box-sizing: border-box;
  padding: 10px 62px 10px 29px;
  margin-right: 0px;
  min-width: 200px;
  height: 50px;
}

.mailing__svg {
  position: absolute;

  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);

  height: 24px;
  width: 24px;
  fill: var(--bg-main-color);
}
