.page-haeder__conteiner {
  display: flex;
  align-items: center;
  padding: 0px;
}

.page-haeder {
  position: relative;
  border: 1px solid #ececec;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-haeder__nav {
  display: flex;
  margin-right: auto;
}
