.hero {
  background-color: var(--bg-secondary-color);
  font-family: inherit;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 210px;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

// .hero {
//   background-image: url("hero-mobile.jpg");
// }

// @media (min-resolution: 2dppx) {
//   .hero {
//     background-image: url("hero-mobile@2x.jpg");
//   }
// }

// @media (min-width: 480px) {
//   .hero {
//     background-image: url("hero-tablet@2x.jpg");
//   }
//   @media (min-resolution: 2dppx) {
//     .hero {
//       background-image: url("hero-tablet@2x.jpg");
//     }
//   }
// }

// @media (min-width: 760px) {
//   .hero {
//     background-image: url("hero-desktop@2x.jpg");
//   }
//   @media (min-resolution: 2dppx) {
//     .hero {
//       background-image: url("hero-desktop@2x.jpg");
//     }
//   }
// }

.hero__titel {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--bg-main-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-family: inherit;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
}
