:root {
  --primery-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --logo-accent-color: #000000;
  --contacts-accent-color: rgba(255, 255, 255, 0.6);

  --bg-main-color: #ffffff;
  --bg-alt-color: #f5f4fa;
  --bg-secondary-color: #2f303a;

  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}
